@mixin bg-box-white {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

@mixin bg-box-black {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

@mixin box-shadow-bottom-only{
  box-shadow: 0px 5px 2mm 0mm #4c4c4c;
}

@mixin drop-shadow{
  filter: drop-shadow(5px 0px 5px grey);
}