$font-color: black;
$font-color-white: white;
$font-color-black: black;

$font-size-xxxs: 2.0mm;
$font-size-xxs: 2.5mm;
$font-size-xs: 3.0mm;
$font-size-s: 3.5mm;
$font-size-m: 4.0mm;
$font-size-l: 4.5mm;
$font-size-xl: 5.0mm;
$font-size-xxl: 5.5mm;
$font-size-xxxl: 6.0mm;
