@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i");
* {
  -webkit-print-color-adjust: exact; }

.page {
  width: 210mm;
  height: 296.8mm; }

@page {
  size: A4 portrait; }

.page {
  display: flex;
  height: 100%; }

.page {
  width: 210mm;
  height: 296.8mm; }

.card {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 4mm;
  font-style: normal;
  font-variant: normal;
  font-weight: 400; }

.card {
  border-color: red;
  border: 0.3mm;
  border-style: dashed;
  overflow: hidden;
  position: relative; }

.card-dimensions-magic {
  height: 88mm;
  width: 63mm; }

.card-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .card-bg-mesmer {
    background-image: url("https://i.pinimg.com/originals/f9/88/5d/f9885d08f0e3810dcf4b6434b28a1fa5.jpg"); }
  .card-bg-druid {
    background-image: url("https://wiki.guildwars2.com/images/thumb/8/8c/Spec_image_Druid.jpg/350px-Spec_image_Druid.jpg"); }
  .card-bg-sorcerer {
    background-image: url("https://wiki.guildwars2.com/images/thumb/5/5e/Elementalist_04_concept_art.png/250px-Elementalist_04_concept_art.png"); }
  .card-bg-paladin {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/4e/c1/9b/4ec19b9d9827544f0ece01221e817138.jpg"); }

.card .card-header-title {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  box-shadow: 0px 5px 2mm 0mm #4c4c4c;
  display: table;
  margin-top: 1mm;
  margin-bottom: 3mm;
  width: 100%; }
  .card .card-header-title span {
    font-size: 3.5mm;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin: 0mm;
    line-height: 4mm; }

.spell-meta {
  width: 50%;
  font-size: 2mm;
  overflow: hidden;
  margin-bottom: 3mm;
  box-shadow: 0px 5px 2mm 0mm #4c4c4c;
  max-width: fit-content; }
  .spell-meta > div {
    width: max-content;
    float: left; }
  .spell-meta-label {
    background-color: rgba(0, 0, 0, 0.75);
    color: white; }
  .spell-meta-value {
    background-color: rgba(255, 255, 255, 0.75);
    color: black; }
  .spell-meta span {
    margin: 1mm; }

.card-text-container {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  box-shadow: 0px 5px 2mm 0mm #4c4c4c; }
  .card-text-container .card-spell-description {
    font-size: 3mm;
    margin: 1mm;
    display: inline-block; }
    .card-text-container .card-spell-description p {
      margin-top: 0;
      line-height: 3mm; }

.spell-badge-spell-level {
  position: absolute;
  left: 3mm;
  top: 0mm;
  filter: drop-shadow(5px 0px 5px grey);
  width: 5mm;
  height: 8mm;
  background: rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  filter: drop-shadow(5px 0px 5px grey); }
  .spell-badge-spell-level span {
    padding-top: 2.5mm;
    position: absolute;
    left: 25%; }
  .spell-badge-spell-level::before, .spell-badge-spell-level::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -2.5mm;
    border-style: solid;
    filter: drop-shadow(5px 0px 5px grey); }
  .spell-badge-spell-level::before {
    left: 0px;
    border-width: 2.5mm 2.5mm 0 0;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; }
  .spell-badge-spell-level::after {
    right: 0px;
    border-width: 0 2.5mm 2.5mm 0;
    border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent; }

.spell-badge-spell-component {
  position: absolute;
  bottom: 0mm;
  transform: rotate(180deg);
  filter: drop-shadow(5px 0px 5px grey);
  width: 3mm;
  height: 6mm;
  background: rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  filter: drop-shadow(5px 0px 5px grey); }
  .spell-badge-spell-component.component-verbal {
    left: 2mm; }
  .spell-badge-spell-component.component-sign {
    left: 7mm; }
  .spell-badge-spell-component.component-material {
    left: 12mm; }
  .spell-badge-spell-component span {
    font-size: 2mm;
    transform: rotate(180deg); }
  .spell-badge-spell-component span {
    padding-top: 1.5mm;
    position: absolute;
    left: 25%; }
  .spell-badge-spell-component::before, .spell-badge-spell-component::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -1.5mm;
    border-style: solid;
    filter: drop-shadow(5px 0px 5px grey); }
  .spell-badge-spell-component::before {
    left: 0px;
    border-width: 1.5mm 1.5mm 0 0;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; }
  .spell-badge-spell-component::after {
    right: 0px;
    border-width: 0 1.5mm 1.5mm 0;
    border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent; }

.card .footer {
  position: absolute;
  bottom: 0mm; }

.shape-flag {
  clip-path: polygon(20% 0%, 80% 0%, 80% 100%, 50% 75%, 20% 100%);
  transform: scale(0.75);
  /* styles for demo */
  padding: 20px;
  color: #fff; }

.shape-ribbon {
  filter: drop-shadow(5px 0px 5px grey);
  width: 5mm;
  height: 8mm;
  background: rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  filter: drop-shadow(5px 0px 5px grey); }
  .shape-ribbon span {
    padding-top: 2.5mm;
    position: absolute;
    left: 25%; }
  .shape-ribbon::before, .shape-ribbon::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -2.5mm;
    border-style: solid;
    filter: drop-shadow(5px 0px 5px grey); }
  .shape-ribbon::before {
    left: 0px;
    border-width: 2.5mm 2.5mm 0 0;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; }
  .shape-ribbon::after {
    right: 0px;
    border-width: 0 2.5mm 2.5mm 0;
    border-color: transparent rgba(0, 0, 0, 0.75) transparent transparent; }
